.container {
  display: flex;
  gap: 100px;
}

.textContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.imgContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroImgContainer {
  /* for image container */
  position: relative;
  height: 60vh;
  width: 50vw;
}

.heroImg {
  object-fit: contain;
}

.title {
  font-size: 96px;
}

.desc {
  font-size: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.button {
  padding: 20px;
  min-width: 120px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.button:first-child {
  background-color: var(--btn);
  color: var(--text-color);
}

.brands {
  /* for image container */
  position: relative;
  width: 500px;
  height: 50px;
  /* make the image gray */
  filter: grayscale(1);
}



@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }

  .heroImgContainer {
  /* for image container */
  position: relative;
  height: 80vh;
  width: 80vw;
}

  .buttons {
    justify-content: center;
  }

  .brands {
    display: none;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 64px
  }
}